name: Custom

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: "3.8"
      
      - name: Install dependencies
        run: |
          pip install -U -r requirements_dev.txt
          pip install -U -r requirements_backend.txt
          pip install -U -e .[cssselect,pyquery]
      
      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
        with:
          nonblocking: true
          
      - name: Test with pytest
        run: |
          pytest ./tests

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
