name: Custom

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: "3.8"
      
      - name: Install dependencies
        run: |
          pip install -U -r requirements_dev.txt
          pip install -U -r requirements_backend.txt
          pip install -U -e .[cssselect,pyquery]

      - name: Test with pytest
        run: |
          pytest --import-mode=importlib ./tests
